/* crtl+} es comentario */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  


}

header {
    background-color: #755858;
}

header>nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header>nav>a {
    color: #f7f7c6;
    text-decoration: none;
    font-family: 'Allura', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Vina Sans', sans-serif;
    font-size: xx-large;
}

header>nav>a:hover {
    color: #9cad9a;


}

/* aplicando estilo al main */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main>.tarjetas {
    width: 200px;
    padding: 10px;
   
    border-radius: 3px;
    margin-top: 20px;
    transition: box-shadow o.3s ease-in-out;
    height: fit-content;

}

main>.tarjetas:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

main>.tarjetas>img {
    width: 100%;
    height: fit-content;
}

.img-propia{
    width: 100%;
    height: 300px;
}

